<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Smart Read</title>
    <link rel="stylesheet" href="aj.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="vue-resource.js"></script>
</head>

<body>
    <main class="container mt5" id="app">
        <h2 class="tc bb b-red">{{textSplit[currentPos]}}</h2>
        <button @click="pause = !pause">{{(!pause) ? 'Pause' :'Play'}}</button>
        <h4 class="mt4">Enter text here</h4>
        <textarea v-model="text" cols="30" rows="10"></textarea>
        <button @click="start">Start reading</button>
        <h5 class="mt3 mb2">Get Text from Webpage URL</h5>
        <input type="text" v-model="url">
        <button @click="getText">Get text!</button>
    </main>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: {
        text: 'Example Text',
        oldTime: 0,
        currentTime: 10,
        calculatedTime: 0,
        textSplit: "",
        currentPos: -1,
        interval: null,
        startingSpeed: 300,
        speed: 50,
        pause: false,
        url: ""
    },
    methods: {
    	getText: function(){
    		var self = this;
    		this.$http.get('https://mercury.postlight.com/parser?url='+this.url, { headers: { 'x-api-key': 'DnKs6W0E1YYsJKl9azNgyyojj4zsrdk6oFpHhxJF' } }).then(function(res) {
    			var tmp = document.createElement("DIV");
   				tmp.innerHTML = res.body.content;
  				self.text = tmp.textContent || tmp.innerText || "";
            });
    	},
        word: function() {
            if ((this.currentTime - this.oldTime) < this.calculatedTime) {
                this.currentTime = new Date().getTime()
                return this.textSplit[this.currentPos]
            }
            this.oldTime = new Date().getTime()
            this.currentTime = new Date().getTime()

            if (this.textSplit.length-1 < this.currentPos) {
                clearInterval(this.interval);
            } else {
                this.currentPos++
            }
            if (this.currentPos < 30) {
                this.speed = this.startingSpeed / Math.exp(this.currentPos / 30);
            } else {
                this.speed--
            }
            if (this.speed < 80) this.speed = 80
            this.calculatedTime = this.speed //300 words per minute
            return this.textSplit[this.currentPos]
        },
        start: function() {
            
            this.textSplit = this.text.split(" ")
            for (var i = this.textSplit.length - 1; i >= 0; i--) {
            	if(!this.textSplit[i]) this.textSplit.splice(i, 1)
            }
            this.currentPos = -1
            var self = this
            this.interval = setInterval(function() {
                if (!self.pause)
                    self.word()
            }, 25)
        }
    },
})
</script>

</html>